* {


    font-size: 10px;
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

.root {
    width: 100%;
    height: auto;
}
/* Estilos para el contenedor de la página */
html, body {
    height: 100%; /* Asegurar que el cuerpo ocupa el 100% de la altura */
    margin: 0; /* Eliminar margen predeterminado */
}

.page-container {
    display: flex; /* Usar flexbox para alinear elementos */
    flex-direction: column; /* Disponer los elementos en una columna */
    min-height: 100vh; /* Asegurar que la altura mínima sea la de la ventana */
}

.root {
    flex: 1; /* Permitir que el contenido principal ocupe el espacio restante */
}
